body{
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0;
    border: 10px solid green;
}

h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}

.content{
    margin: auto;
    width: 50%;
}
h2{
    color: rgb(211, 45, 34);
}